<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">joo-pe?</a></li>
    <li class="nav-develop" role="menuitem"><a href="{{site.baseurl}}tag/develop/">Develop</a></li>
    <li class="nav-ai" role="menuitem"><a href="{{site.baseurl}}tag/ai/">AI</a></li>
    <li class="nav-itstory" role="menuitem"><a href="{{site.baseurl}}tag/itstory/">IT story</a></li>
    <li class="nav-license" role="menuitem"><a href="{{site.baseurl}}tag/license/">License</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag별 Posts</a>
    </li>
</ul>